body, html {
    margin: 10px;
}

body {
    font: 0.9em "EB Garamond", Georgia, serif !important;
    width: 1100px;
    height: auto;
}

#header {
    position: relative;
}

#wrapper {
    display: block;
    position: absolute;
    top: 150px;
    width: inherit;
}

.logo {
    width: 300px;
    height: 120px;
    position: absolute;
}

#toolbar {
    padding: 2px;
    display: block;
    margin-left: 310px;
    margin-top: 30px;
    float: right;
    margin-bottom: 10px;
    font-size: 1.3em;
    background: none;
    border: 0;
}

#toolbar .ui-button {
    background: none;
    border: 0;
}

#toolbar .ui-button-text {
    padding-left: 3px;
    padding-right: 3px;
}

#toolbar .ui-icon {
    right: 0px;
    padding: 2px;
}

#toolbar .ui-state-hover {
    border: 1px solid #999999;
    background: #dadada 50% 50% repeat-x;
    color: #212121;
}

.leftPane-link {
    border-top: 1px solid #ccc;
    font-size: 1.2em;
}

.leftPane-link .ui-button {
    border: 0;
    background: none;
    color: #000;
    width: 100%
}

.leftPane-link .ui-state-hover {
    border: 1px solid #999999;
    background: #dadada 50% 50% repeat-x;
    color: #212121;
}

.ui-menu {
    position: absolute;
    width: inherit;
    z-index: 1000;
}

.ui-menu .ui-menu-item {
    margin: 5px 13px 5px 0;
    font-size: 1.2em;
}

.ui-menu .ui-menu-item .ui-state-focus {
    border: 1px solid #999999;
    /*background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;*/
    background: #dadada 50% 50% repeat-x;
    color: #212121;
}

.ui-widget-header {
    background: #Fff;
    border: 0px;
    border-bottom: 1px solid #ccc;
    font-size: 1.8em;
    margin: 10px 0 5px 0;
    padding: 4px;
    font-weight: bold;
}

#login_page {
    font-size: 1.0em;
    font-weight: bold;
    padding: 0.4em;
}
#login_page .ui-button-text {
    font-size: 1.2em;
}
*+html #toolbar {
    display: inline;
}
#login_page input.text { margin-bottom:12px; width:95%; padding: .4em; }

#login_page fieldset { padding:0; border:0; margin-top:15px; }

.information {
    text-align: center;
    width: 600px;
}

.ui-widget {
    font: 0.9em "EB Garamond", Georgia, serif !important;
}

.ui-widget-content {
    font: 0.9em "EB Garamond", Georgia, serif !important;
}

.ui-widget input {
    font: 1.0em "EB Garamond", Georgia, serif !important;
}

.ui-state-default {
    font-size: 1.6em;
    background: #fff !important;
}

.ui-tabs {
    padding: 0;
    margin: 0;
}

.ui-tabs-panel {
    padding: 0 !important;
    margin: 0;
    width: 99%;
}

#formLeftPane {
    width: 300px;
    border-right: 1px solid gray;
    float: left;
}

#homeWrapper {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #555555;
    display: block;
    position: absolute;
    width: inherit;
    margin-left: 300px;
}

#homeWrapper h1 {
    padding-bottom: 5px;
    border-bottom: 1px solid #999999;
    color: #555555;
}

#searchWrapper {
    height: 100%;
    height: !important;
    min-height: 600px;
}

#leftPane {
    width: 300px;
    border-right: 1px solid gray;
    float: left;
}

.leftPane-module-container {
    margin-bottom: 10px;
}

.leftPane-header {
    border-bottom: 1px solid #ccc;
}

.leftPane-header h3 {
    margin: 0;
}

.leftPane-module {
    padding-left: 20px;
}

#searchRightPane {
    width: 850px;
    margin-left: 300px;
    padding: 5px;
}

#rightPaneTabs {
    font-size: 0.9em;
    float: left;
    width: 840px;
}

.searchSelectable .ui-selecting { 
    background: #FECA40; 
}

.searchSelectable .ui-selected { 
    background: #F39814; 
    color: white; 
}

.searchSelectableHeader { 
    list-style-type: none; 
    margin-top: 10px; 
    padding: 0; 
    width: 88%; 
    border: 0;
    background: none;
    font-size: 1.1em;
}

.searchSelectable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 90%; 
    max-height: 170px;
    overflow: auto;
}

.searchSelectable div { 
    margin: 0; 
    padding: 0.2em; 
    font-size: 1.1em; 
    height: 18px; 
}

.searchUpdateButton {
    text-align: center;
    padding: 5px;
}

.ui-button {
    font-size: 0.9em;
}

th {
    font-size: 0.9em;
}

.all-modules {
    width: 950px;
}

.module-header {
    display: block;
    /*
    margin-bottom: 0;
    margin-top: 10px;
    padding: 4px;
    font-weight: normal;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    */
}

.module-container {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
}

.module-content {
    margin: 0;
    padding: 10px;
    display: block;
}

.label_rng1 {
    font-weight: bold;
}

.label_rng {
    padding-left: 75px;
}

path {
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: lightgrey;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.x.axis text {
    font-size: 14;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

.y.axis text {
    font-size: 14;
}


table.line-html-table {
    display: block;
    overflow: scroll;
}

.summary-results {
    height: 100%;
    padding: 0;
    margin: 0;
}

.summary-widget-header {
  vertical-align: top;
  /*
  text-align: center; 
  font-size: 1.2em;
  padding: 3px;
  */
  width: 98%;
}

.summary-widget-container {
    height: 500px;
}

.summary-widget-table {
    width: 35%;
}
.summary-widget-chart {
}

.perf-row {
  line-height: 15px;
  height: 35px;
}
    
.performance-label {
  width: 200px;
}

.performance-values {
  display: block;
  overflow-x: scroll;
}

.odd-row {
  padding-top: 7px;
  padding-bottom: 3px;
}

.even-row {
  background-color: #f1f1f1;
  padding-top: 7px;
  padding-bottom: 3px;
}

.tab-content {
    font-size: 1.1em;
    width: 100%;
}

.row-number {
    padding: 10px;
}

#map-resize {
    padding-bottom: 15px;
}

.form-flashes {
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.chart_infobox {
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: #333333 0px 0px 10px;
    margin: 200px auto;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10500;
    font-weight: bold;
}
