{% extends "search.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body_onload %}{{ body_onload }}{% endblock %}
{% block user_pref %}{{ user_pref|safe }}{% endblock %}
{% block right_pane_content %}
<div id="summary-results ui-widget ui-helper-reset" class='summary-results'>

    <h3 id='line-chart-heading' class='ui-widget-header summary-widget-header'>Overview of {{ country }}</h3>
    <div>
        {{ overview|safe }}
    </div>

    {% for m in modules %}
        <div class="module-container ui-corner-bottom ui-widget-content">
          <h3 id='line-chart-heading' class='ui-widget-header summary-widget-header'>{{ m.heading }}</h3>
          <div style="font-size: 1.1em;">
              {{ m.content|safe }}
          </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
