{% extends "geo.html" %}

{% block title %}Global Energy Observatory - GEO{% endblock %}

{% block user_pref %}{{ user_pref|safe }}{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='d3/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='d3/topojson.v1.min.js') }}"></script>
<script src="{{ url_for('static', filename='datamaps/datamaps.world.min.js') }}"></script>
<script type='text/javascript'>

    $(function() {

        var container = document.getElementById('map_canvas');
        var map = new Datamap({
            element: container,
            fills: {
                defaultFill: '#CCCCCC',
                TEN: "#B7C3B9",
                TWENTY: "#A3BBA6",
                THIRTY: "#8FB393",
                FOURTY: "#7BAB80",
                FIFTY: "#67A36E",
                SIXTY: "#529A5B",
                SEVENTY: "#3E9248",
                EIGHTY: "#2A8A35",
                NINETY: "#168222",
                HUNDRED: "#027A10"
            },
            data: {
                CHL: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                BHR: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                USA: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                CAN: {
                    fillKey: "SEVENTY",
                    coverage: "75%"
                },
                EGY: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                FRA: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                IND: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                ISR: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                JPN: {
                    fillKey: "FIFTY",
                    coverage: "50%"
                },
                KWT: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                MEX: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                OMN: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                PAK: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                QAT: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                SAU: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                SGP: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                ZAF: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                KOR: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                TWN: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                ARE: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                TZA: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                GBR: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                RUS: {
                    fillKey: "SEVENTY",
                    coverage: "70%"
                },
                KEN: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                MOZ: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                UGA: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                ZMB: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                ZWE: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                MWI: {
                    fillKey: "HUNDRED",
                    coverage: "95%"
                },
                NAM: {
                    fillKey: "HUNDRED",
                    coverage: "95%"
                },
                BWA: {
                    fillKey: "HUNDRED",
                    coverage: "95%"
                },
                SDN: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                ETH: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                BGD: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                BTN: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                NPL: {
                    fillKey: "SEVENTY",
                    coverage: "70%"
                },
                LKA: {
                    fillKey: "HUNDRED",
                    coverage: "95%"
                },
                AFG: {
                    fillKey: "SEVENTY",
                    coverage: "70%"
                },
                POL: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                IRN: {
                    fillKey: "SEVENTY",
                    coverage: "70%"
                },
                VNM: {
                    fillKey: "SEVENTY",
                    coverage: "70%"
                },
                MYS: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                MMR: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                THA: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                IDN: {
                    fillKey: "SIXTY",
                    coverage: "60%"
                },
                TUN: {
                    fillKey: "SIXTY",
                    coverage: "60%"
                },
                LBY: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                LBN: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                JOR: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                MAR: {
                    fillKey: "HUNDRED",
                    coverage: "95%"
                },
                SYR: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                PHL: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                DZA: {
                    fillKey: "SEVENTY",
                    coverage: "70%"
                },
                TKM: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                UZB: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                KGZ: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                TJK: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                KAZ: {
                    fillKey: "SIXTY",
                    coverage: "60%"
                },
                BEL: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                EST: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                LVA: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                LTU: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                BGR: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                ARG: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                URY: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                CZE: {
                    fillKey: "SEVENTY",
                    coverage: "70%"
                },
                ROU: {
                    fillKey: "SEVENTY",
                    coverage: "70%"
                },
                MNG: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                AGO: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                NGA: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                GHA: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                MLI: {
                    fillKey: "SIXTY",
                    coverage: "60%"
                },
                CIV: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                ERI: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                SVK: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                PRY: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                HUN: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                MNE: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                ALB: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                GRC: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                NZL: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                UKR: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                GEO: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                AZE: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                MDA: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                BLR: {
                    fillKey: "HUNDRED",
                    coverage: "100%"
                },
                TUR: {
                    fillKey: "SEVENTY",
                    coverage: "75%"
                },
                AUS: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                VEN: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                BRA: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                COL: {
                    fillKey: "SEVENTY",
                    coverage: "70%"
                },
                PAN: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                CRI: {
                    fillKey: "SEVENTY",
                    coverage: "75%"
                },
                NIC: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                HND: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                SLV: {
                    fillKey: "SEVENTY",
                    coverage: "75%"
                },
                GTM: {
                    fillKey: "SIXTY",
                    coverage: "60%"
                },
                PRT: {
                    fillKey: "EIGHTY",
                    coverage: "85%"
                },
                ESP: {
                    fillKey: "SEVENTY",
                    coverage: "70%"
                },
                ITA: {
                    fillKey: "SIXTY",
                    coverage: "60%"
                },
                SRB: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                IRL: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                DEU: {
                    fillKey: "FOURTY",
                    coverage: "40%"
                },
                CHN: {
                    fillKey: "TWENTY",
                    coverage: "20%"
                },
                DNK: {
                    fillKey: "SIXTY",
                    coverage: "60%"
                },
                FIN: {
                    fillKey: "FIFTY",
                    coverage: "50%"
                },
                SWE: {
                    fillKey: "FOURTY",
                    coverage: "40%"
                },
                NLD: {
                    fillKey: "EIGHTY",
                    coverage: "80%"
                },
                BIH: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                HRV: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                MKD: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                SVN: {
                    fillKey: "NINETY",
                    coverage: "90%"
                },
                NOR: {
                    fillKey: "NINETY",
                    coverage: "90%"
                }
                //data.setValue(59, 0, 'Laos');
                //data.setValue(59, 1, 50);
                //data.setValue(75, 0, 'CG');
                //data.setValue(75, 1, 90);
                //data.setValue(82, 0, 'CD');
                //data.setValue(82, 1, 90);
            },
            geographyConfig: {
                popupTemplate: function(geo, data) {
                    if (data && data.coverage) {
                        return [
                            "<div class='hoverinfo'>",
                            "<div style='font-weight: bold;border-bottom: 1px solid #ccc;'>",
                            geo.properties.name, "</div>",
                            'Coverage: ' + data.coverage,
                            "</div>"
                            ].join("");
                    }
                    else {
                        return [
                            "<div class='hoverinfo'>",
                            geo.properties.name,
                            "</div>"
                            ].join("");
                    }
                }
            },
            done: function(datamap) {
                datamap.svg.selectAll(".datamaps-subunit").on('click', function(geography) {
                    url = "/summary/country/" + geography.id
                    location.href = url
                });
            }
        });
    });
</script>
{% endblock %}
{% block body_onload %}{% endblock %}
{% block content %}
<div id="homeWrapper">
    <div id="about">
        <h3>About GEO</h3>
        Global Energy Observatory, GEO, is a set of free interactive databases and tools built collaboratively by people like you. Our goal is to promote an understanding, on a global scale, of the dynamics of change in energy systems, quantify emissions and their impacts, and accelerate the transition to carbon-neutral, environmentally benign energy systems while providing affordable energy to all.

        By providing easy to use and visualize data, models and analysis tools we aim to engage the public and the experts. Data in GEO can be edited from anywhere in the world. We welcome collaborations to help build GEO.
    </div>

    <div id="data">
        <h3>Data in GEO</h3>
        Our goal is to collect data for individual units and build tools to aggregate and analyze energy systems at regional and national level. The data for individual units/plants are organized into four categories

        <ul>
            <li><b>Power Plants</b>: Coal, Gas, Geothermal, Hydro, Nuclear, Oil, Solar PV, Solar Thermal, Waste and Wind electric generation plants.</li>
            <li><b>Fuels And Resources</b>: Oil and Gas Fields; Coal and Uranium mines; Crude Oil Refineries; Solar, Wind and Biomass Potential; CO2 sequestration, Water Resources.</li>
            <li><b>Energy Transmission</b>: Oil and Gas Pipelines; Coal, LNG, Oil Ports; Rail and Road links; Shipping Lanes; Electric Power Grid.</li>
            <li><b>Energy Consumers</b>: Industries, Population, Economic Activity, Towns and Cities.</li>
        </ul>
    </div>
    <div id="data_coverage">
        <h3>Coverage of Power Generating Capacity</h3>
        <div id='map_canvas' style="position: relative; width: 800px; height: 400px;"></div>
    </div>

    <div id="analysis">
        <h3>analysis</h3>
    </div>

    <div id="mapping">
        <h3>mapping energy resources</h3>
    </div>


</div>
{% endblock %}
