{% extends "geo.html" %}

{% block title %}Login - GEO{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/sha1.js', _external=True) }}"></script>
<script>
    function sha1Password() {
        var pword = SHA1( document.getElementById("password").value ); 
        document.getElementById("password").value = pword;
        return true;
    }
</script>
{% endblock %}
{% block content %}
<div id="loginWrapper">
    <form id="login" action="login" method="post" onsubmit="return sha1Password();" >
			Username:
			<input type="text" size="10" id="username" name="username" />
			Password:
			<input type="password" size="10" id="password" name="password" />
            <input type="hidden" name="next" id="next" value="{{ request.url }}" />
			<input type="submit" name="login" value="Login" />
	    </form>
</div>
{% endblock %}
