{% extends "search.html" %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/geo.js') }}"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAveV8vQj-utZITKgBnVCbovB03hrgNvWE&libraries=drawing,geometry&v=3"></script>
{% endblock %}

{% block user_pref %}{{ user_pref|safe }}{% endblock %}
{% block body_onload %}Map.init(){% endblock %}

{% block right_pane_content %}
<div id="map-metadata">
    <input type="hidden" name="map_json" id="map_json" class="widget_urls" value="{{ map_url }}" />
</div>
<div id="map-container"></div>
{% endblock %}
