{% extends "search.html" %}
{% block title %}Submissions Awaiting Moderation - GEO{% endblock %}
{% block user_pref %}{{ user_pref|safe }}{% endblock %}
{% block right_pane_content %}
<div class='tab-content'>
    <h3 class="module-header">New Submissions</h3>
    {% for new in new_submits %}
    <div class="{{ loop.cycle('odd-row', 'even-row') }}">
        <span class="row-number">{{ loop.index }}.</span>
        <a href="{{ baseurl + new.description_id }}" target="_blank">{{ new.type_name }} - {{ new.country_name }} - {{ new.geo_name }}</a>
    </div>
    {% endfor %}
</div>
<div class='tab-content'>
    <h3 class="module-header">Updates</h3>
    {% for ed in edits %}
    <div class="{{ loop.cycle('odd-row', 'even-row') }}">
        <span class="row-number">{{ loop.index }}.</span>
        <a href="{{ baseurl + ed.description_id }}" target="_blank">{{ ed.type_name }} - {{ ed.country_name }} - {{ ed.geo_name }}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}