{% extends "geo.html" %}

{% block title %}Partners - GEO{% endblock %}

{% block content %}

        <h3>Partners and Collaborators</h3>
        <p>
        <ul>
            <li><a href="http://newmexicoconsortium.org/">New Mexico Consortium:</a> Home organization</lI>
            <li> Department of Electrical and Computer Engineering,University of New Mexico: Profs. Chaouki Abdallah and Greg Heileman. </li>
            <li> <a href="http://www.istec.org/">Ibero American Science and Technology Education Consortium (ISTEC:)</a>
            To foster scientific, engineering, and technology education, joint international research and development efforts throughout the Americas and the Iberian Peninsula. Prof. Ramiro Jordan at UNM</li>
            <li> Graduate School of Education, University of California, Berkeley: Profs. Michael Ranney, Stanley Klein, Bernard Sadoulet, and David Zilberman. </li>
            <li> Physics Department, Carnegie Mellon University: Prof. John Nagle  </li>
            <li> Physics Department, York University, Canada: Prof. Carl Wolfe  </li>
            <li> Observer Reserach Foundation (ORF), India: Dr. Sunjoy Joshi </li>
            <li> Brian Bush: Energy Systems and Analysis, NREL, USA</li>
            <li> Alison Wise: Senior Strategic Analyst, NREL, USA</li>
            <li> John Carr: Physicist, Centre de physique des particules de Marseille (CNRS), France</li>
            <li> Abdel Tawfik, ECTP Founding Director, MTI University, Mukattam, Cairo-Egypt</li>
            <li> Stephen Hubbard: GIS professional and an energy and sustainability analyst</li>
        </ul>
        </p>

{% endblock %}