{% extends "search.html" %}
{% block user_pref %}{{ user_pref|safe }}{% endblock %}
{% block right_pane_content %}
<div class="create-new-plant">
    {% if state %}
        <a class="create-new-plant-button" href="/form.php"><b>Create new {{ type }} {{ category }} in {{ state }}, {{ country }}</b></a>
        <script>
            $( ".create-new-plant-button" ).button()
        </script>
    {% else %}
        <a class="create-new-plant-button"><b>Choose a state to create new {{ type }} {{ category }}</b></a>
        <script>
            $( ".create-new-plant-button" ).button()
            .prop("disabled", true");
        </script>
    {% endif %}
</div>
<div class='tab-content'>
    {% for v in values %}
    <div class="{{ loop.cycle('odd-row', 'even-row') }}">
        <span class="row-number">{{ loop.index }}.</span>
        <a href="{{ baseurl ~ v[0] }}" target="_blank">{{ v[1] }}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}