<!doctype html>
<head>
    <meta charset="utf-8" />
    <title>Search - GEO</title>

        <link rel="stylesheet" href="static/jquery-ui-1.10.2.custom/css/custom-theme/jquery-ui-1.10.2.custom.min.css">
        <link rel="stylesheet" href="static/css/geo.css">
        <link rel="stylesheet" href="static/chosen_v1.0.0/chosen.min.css">

        <script src="static/jquery-ui-1.10.2.custom/js/jquery-1.9.1.js"></script>
        <script src="static/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js"></script>
        <script src="static/chosen_v1.0.0/chosen.jquery.min.js"></script>
        <script src="static/js/geo.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;key=AIzaSyAveV8vQj-utZITKgBnVCbovB03hrgNvWE&amp;libraries=drawing,geometry"></script>
        <!--<script src="http://d3js.org/d3.v3.js"></script>-->
</head>
<body onload="Search.init()">
    <div id="searchWrapper">
        <div id="searchLeftPane">
        <div id='searchDatabase_Type' class='searchSelectable'></div>
        <div id='searchType' class='searchSelectable'></div>
        <div id='searchCountry' class='searchSelectable'></div>
        <div id='searchState' class='searchSelectable'></div>
        <div class='searchUpdateButton' id='searchUpdateButton'><button id='updateSearch' class='updateSearch'>Update</button></div>

        <input type="hidden" name="jsonListService" id="jsonListService" value="/menu" />
        <input type="hidden" name="jsonMapService" id="jsonMapService" value="/map" />
        </div>
        <div id="searchRightPane">
        <div id='rightPaneTabs'>
        <ul>
        <li><a href='resources'>List of Resources</a></li>
        <li><a href='summary'>Summary</a></li>
        <li><a href='map'>Map</a></li>
        <li><a href='analysis'>Analysis</a></li>
        </ul>
        </div>
        </div>
    </div>
</body>
</html>
