{% extends "geo.html" %}

{% block title %}Search - GEO{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='d3/d3.min.js') }}"></script>
{% endblock %}
{% block content %}
<div id="searchWrapper">
    <!--
    <div id="searchLeftPane">
        <div id='searchDatabase_Type' class='searchSelectable'></div>
        <div id='searchType' class='searchSelectable'></div>
        <div id='searchCountry' class='searchSelectable'></div>
        <div id='searchState' class='searchSelectable'></div>
        <div class='searchUpdateButton' id='searchUpdateButton'><button id='updateSearch' class='updateSearch'>Search</button></div>

        <input type="hidden" name="jsonListService" id="jsonListService" value="{{ url_for('menu.menu') }}" />
    </div>
    -->
    <div id="searchRightPane">
        <div id='rightPane'>
            {% block right_pane_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
