{% extends "search.html" %}
{% block user_pref %}{{ user_pref|safe }}{% endblock %}
{% block body_onload %}TypeSummary.init(){% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block right_pane_content %}
<table id="summary-results ui-widget ui-helper-reset" class='summary-results' >

    <tr>
        <td class='line-chart-heading' colspan='2'>
            <h3 class='ui-widget-header summary-widget-header'>Overview for {{ title }}</h3>
        </td>
    </tr>
    <tr class='summary-widget-container'>
        <td id='summary-overview' class='summary-overview' colspan='2'></td>
    </tr>

    <tr>
        <td class='line-chart-heading' colspan='2'>
            <h3 class='ui-widget-header summary-widget-header'>Total Gigawatt Hours Generated and CO2 Emitted (Tonnes)</h3></td>
    </tr>
    <tr class='summary-widget-container'>
        <td id='performance_linechart_cumulative_chart' class='summary-widget-chart' colspan='2'></td>
    </tr>
    <tr>
        <td class='line-chart-heading' colspan='2'>
            <h3 class='ui-widget-header summary-widget-header'>Cumulative Capacity vs Years (Aggregated over the Country)</h3></td>
    </tr>
    <tr class='summary-widget-container'>
        <td id='unit_linechart_cumulative_chart' class='summary-widget-chart' colspan='2'></td>
    </tr>

    <tr>
        <td class='line-chart-heading' colspan='2'>
            <h3 class='ui-widget-header summary-widget-header'>New Capacity Added vs Years (Aggregated over the Country)</h3></td>
    </tr>
    <tr class='summary-widget-container'>
        <td id='unit_linechart_capacity_chart' class='summary-widget-chart' colspan='2'></td>
    </tr>

    <tr>
        <td class='line-chart-heading' colspan=2>
            <h3 class='ui-widget-header summary-widget-header'>Data as Table</h3></td>
    </tr>
    <tr class='summary-widget-container'>
        <td id='unit_linechart_capacity_table' class='summary-widget-table'></td>
        <td id='performance_linechart_cumulative_table' class='summary-widget-table'></td>
    </tr>

</table>
{{content|safe}}
{% endblock %}
